@model EmmetRepeatCA.Models.ViewModels.ProductsListViewModel

@foreach (var vinyl in Model?.Vinyls ?? Enumerable.Empty<EmmetRepeatCA.Models.Vinyl>())
{
    <partial name="ProductSummary" model="vinyl" />
}

<div page-model="@Model?.PagingInfo"
     page-action="Index"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     page-url-category="@Model?.CurrentGenre!"
     class="btn-group pull-right m-1">
</div>
