@model LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vinyl Store - Login</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">Vinyl Store</span>
    </div>

    <div class="m-1 p-1">
        <div class="text-danger">
            <div asp-validation-summary="All"></div>
        </div>

        <form asp-action="Login" asp-controller="Account" method="post">
            <input type="hidden" asp-for="ReturnUrl" />

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <div asp-validation-for="Name" class="text-danger"></div>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <div asp-validation-for="Password" class="text-danger"></div>
            </div>

            <button class="btn btn-primary mt-2" type="submit">Log In</button>
        </form>
    </div>

    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
