@model EmmetRepeatCA.Models.Vinyl

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model?.Title
            <span class="badge rounded-pill bg-primary text-white" style="float:right">
                <small>@Model?.Price.ToString("c")</small>
            </span>
        </h4>
    </div>
    <div>
        @Model?.Description
    </div>
    <form id="form-@Model?.VinylId" asp-page="/Cart" method="post">
        <input type="hidden" asp-for="VinylId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <button type="submit" class="btn btn-success btn-sm pull-right" style="float:right">
            Add to Cart
        </button>
    </form>
</div>
